<!DOCTYPE html>
<html>
  <head>
    <title>Interactive maps for Django web apps</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
   <h1>Map time!</h1>
   <div id='map' width="100%" style='height:400px'></div>
   <script>
    mapboxgl.accessToken = "pk.eyJ1IjoicGRvbGF3YXQ2NTQiLCJhIjoiY2theG0yNTM5MDU5bTMycGk0YzR1Z2xiaCJ9.aFnu0E4s9XXI3MpdnobOUQ"
    var map = new mapboxgl.Map({
     container: 'map',
     style: 'mapbox://styles/mapbox/streets-v10',
     center:[19.876165,75.343315],
     zoom:7,
    });
   </script>
  </body>
</html>